---
layout: ""
page_title: "Antimetal Provider"
description: |-
  The Antimetal Terraform provider can be used to connect your AWS account to Antimetal in Terraform.
  This is done by creating a cross-account IAM role in your AWS account that Antimetal can assume to access
  your billing data.
---

## Guidance and documentation

Visit our [documentation](https://docs.antimetal.com/) for more information on getting onboarded to Antimetal.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}